:root {
    --spinner-width: 150px;
    --spinner-height: 150px;
}
#map-loading {
    position: absolute;
    z-index: 100;
    top: calc(50% - (var(--spinner-height) / 2));
    left: calc(50% - (var(--spinner-width) / 2));
    width: var(--spinner-width);
    height: var(--spinner-height);
}
#search-not-found, #error-message {
    position: absolute;
    z-index: 100;
    left: 50%;
    transform: translateX(-50%);
}
.warning-popup .mapboxgl-popup-content{
    background-color: var(--bs-danger-bg-subtle);
    color: var(--bs-danger-text);
}
.weather-img {
    width: 25px;
    height: 25px;
}
.popup-dark .mapboxgl-popup-content {
    background-color: #212529;
}
@media screen and (min-width: 992px) {
    #navbarSupportedContent {
        max-width: 66.66%;
    }
}
